.logo {
  height: 48px;
}

.right:hover {
  text-shadow: 8px 8px 10px var(--nav-color);
  opacity: 1;
}   

.container1 {
  perspective: 1000px;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 0, -20deg);
  animation: cuberotation 15s ease-in-out infinite;
  cursor: grab;
  width: 200px;
  height: 200px;
}

.face {
  width: 140%;
  height: 140%;
  background: var(--cube-face-color);
  border: 2px solid var(--nav-color);
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.logo {
  pointer-events: none;
  user-select: none;
}

.face img {
  transform: translateX(-10px) translateY(-5px);
  opacity: 1;
}

.frontface {
  transform: rotateY(0deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}

.rightface {
  transform: rotateY(90deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}

.backface {
  transform: rotateY(180deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}

.leftface {
  transform: rotateY(-90deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}

.topface {
  transform: rotateX(90deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}

.bottomface {
  transform: rotateX(-90deg) translateZ(100px);
  border: 3px solid var(--name-font-color);
  transition: 0.3s;
}



.cube.paused {
  animation: none;
  cursor: grabbing;
}

/*--------------- Animation ---------------*/

@keyframes cuberotation {
  0% {
    transform: rotate3d(1, 1, 0, -20deg);
  }

  15% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(-10deg);
  }

  30% {
    transform: rotateY(80deg);
  }

  45% {
    transform: rotateX(180deg) rotateZ(180deg);
    transform-origin: 75% 75%;
  }

  60% {
    transform: rotateX(85deg) rotateY(180deg) rotateZ(-200deg);
  }

  75% {
    transform: rotateX(120deg) rotateY(270deg) rotateZ(-235deg)
      rotate3d(0, 1, 0, 20deg);
    transform-origin: 80% 80%;
  }
}

.cube:hover .frontface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateZ(180px);
  opacity: 0.8;
}

.cube:hover .backface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateZ(-180px) rotateY(-180deg);
  opacity: 0.8;
}

.cube:hover .rightface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateX(180px) rotateY(90deg);
  opacity: 0.8;
}

.cube:hover .leftface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateX(-180px) rotateY(-90deg);
  opacity: 0.8;
}

.cube:hover .topface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateY(-180px) rotateX(90deg);
  opacity: 0.8;
}

.cube:hover .bottomface {
  scale: 1.05;
  transition: 0.3s;
  transform: translateY(180px) rotateX(-90deg);
  opacity: 0.8;
}
