.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;  
}

.navbar {
  height: 70px;
  background-color: var(--nav-color);
  backdrop-filter: blur(18px);
  color: var(--nav-font-color);
  position: fixed;
  opacity: 0.9;
  width: 100%;
  border-bottom-right-radius: 70px;
  box-shadow: 1px 1px 6px var(--name-font-color);
  z-index: 1004;
  text-decoration: none;
}

.site-name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 50px;
}

.heading{
  font-size: 40px;
  margin-left: 40px;
  transition: 0.2s;
  color: var(--nav-font-color);
}

.heading:hover{
  color: var(--main-font-color);
  transition: 0.2s;
  cursor: pointer;
}

.nav-menu {
  margin-right: 100px;
}

.menu-icon {
  display: none;
  z-index: 1;
}

.nav-elements {
  display: flex;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements li {
  transition: 0.2s;
  font-size: 25px;
}

.nav-elements li:hover {
  transform: translateX(2px);
  cursor: pointer;
}

.text {
  padding: 5px;
  transition: 0.2s;
  color: var(--nav-font-color);
  text-decoration: none;
}

.text:hover {
  color: var(--nav-font-hover-color);
  transition: 0.2s;
  scale: 0.95;
  border-bottom: 3px solid var(--nav-font-hover-color);
  border-radius: 20%;
  box-shadow: 0px 0px 0px var(--nav-font-hover-color), 0px 0px 4px var(--nav-font-hover-color) inset;
}

.text.active-page{
  color: var(--nav-font-hover-color);
  transition: 0.2s;
  scale: 0.95;
  border-bottom: 3px solid var(--nav-font-hover-color);
  border-radius: 20%;
  box-shadow: 0px 0px 0px var(--nav-font-hover-color), 0px 0px 4px var(--nav-font-hover-color) inset;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  text-decoration: none;
}

.nav-elements ul a.active {
  color: var(--main-font-color);
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-font-color);
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 800px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .nav-menu {
    margin-right: 65px;
  }

  .menu-icon:hover {
    color: var(--main-font-color);
  }

  .nav-elements {
    position: absolute;
    right: 0;
    background-color: var(--secondary-background);
    width: 0px;
    height: 480px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    box-shadow: 8px 5px 200px 0px var(--name-font-color), 5px 5px 50px inset var(--nav-color);
    border-bottom-left-radius: 100px;
    top: 0;
    z-index: -1;
  }

  .nav-elements.active {
    width: 150px;
    border-left: 4px solid var(--secondary-background);
    border-right: 4px solid var(--secondary-background);
    border-bottom: 4px solid var(--secondary-background);
  }

  .nav-elements {
    justify-content: center;
    flex-direction: column;
  }
}
