.App {
  text-align: center;
  background: var(--background);
  background-size: cover;
  /* overflow-y: auto; */
}

.App::-webkit-scrollbar {
  width: 16px;
  background-color: var(--secondary-background);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-left: 5px solid var(--secondary-background);
  box-shadow: 3px 3px 5px #000, inset 3px 3px 8px black;
}

.App::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: var(--name-font-color) 5px 1px 8px, inset var(--name-font-color) 2px 2px 8px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.theme-popup{
  position: fixed;
  right: 0px;
  top: 18vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  padding: 26px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;

  background: rgba(2, 2, 2, 0.55);
  backdrop-filter: blur(18px);

  box-shadow: 2px 5px 10px var(--main-font-color), 2px 5px 10px var(--main-font-color) inset;
  width: 40vw;
  max-width: 92vw;
}

.popupRightPart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.theme-list{
  display:flex;
  flex-direction:column;
  
  overflow-y:auto;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px;
  /* height: 100%; */
}

.theme-color{
  width:52px;
  height:52px;
  border-radius:14px;
  cursor:pointer;
  transition: .25s;
}

/* Hover Lift */
.theme-color:hover{
  transform: translateY(-5px) scale(1.06);
}

/* Active Theme */
.active-theme{
  outline:3px solid #fff;
  transform: scale(1.12);
  width: 100%;
  /* box-shadow:
    0 0 20px rgba(255,255,255,.6),
    0 10px 30px rgba(0,0,0,.4);
    filter: drop-shadow(1px 1px 1px var(--main-font-color)); */
}

.theme-preview{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.theme-preview img{
  width:320px;
  max-width:40vw;

  border-radius:16px;

  box-shadow:0 25px 60px rgba(0,0,0,.5);

  animation: fadeScale .35s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slidein {
  animation: slide-in 0.5s forwards;
}

.slideout {
  animation: slide-out 0.5s forwards;
}

.theme-popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: bottom;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.theme-popup-inner:hover{
  scale:1.05;
  transition: 0.3s;
}

.theme-popup-button {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translate(10px, -10px) rotateZ(-90deg);
  background-color: transparent;
  color: var(--panel-button-color);
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: 0.3s;
  font-size: 40px;
  outline: none;
}

.theme-popup-button-top {
  transform: translate(10px, -20px) rotateZ(-270deg);
  position: fixed;
  font-size: 40px;
  top: 50%;
  color: var(--panel-button-color);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1002;
  transition: 0.5s;
  outline: none;
}

.theme-popup-button:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: translate(1px, -10px) rotateZ(-90deg);
}

.theme-color {
  /* filter: drop-shadow(5px 5px 20px var(--main-font-color)); */
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: block;
  margin: 5px;
}

.theme-image-popup {
  position: relative;
  pointer-events: none;
  opacity: 1;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: baseline;
}


.theme-popup::-webkit-scrollbar {
  width: 16px;
  background-color: var(--secondary-background);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-left: 5px solid var(--secondary-background);
  box-shadow: 3px 3px 5px #000, inset 3px 3px 8px black;
}

.theme-popup::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: var(--name-font-color) 5px 1px 8px, inset var(--name-font-color) 2px 2px 8px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.theme-list::-webkit-scrollbar{
  width: 1px;
  background-color: var(--secondary-background);
  border-radius: 50px;
  border-left: 1px solid var(--secondary-background);
  box-shadow: 1px 1px 3px #000, inset 1px 1px 2px black;
}

.theme-list::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: var(--name-font-color) 5px 1px 8px, inset var(--name-font-color) 2px 2px 8px;
  border-radius: 10px;
}

@keyframes fadeScale{
  from{
    opacity:0;
    transform:scale(.96);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}

@media (max-width:1204px){

  .theme-popup{
    flex-direction:column;
    padding:20px;
    top: 25vh;
    justify-content: space-evenly;
  }

  .theme-preview img{
    width:260px;
  }

  .theme-color{
    width:46px;
    height:46px;
  }

  .theme-list{
    flex-direction:row;
    max-height:none;
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
    padding-bottom:6px;
  }
}

@media (max-width:768px){

  .theme-popup{
    flex-direction:column;
    transform:translateX(50%);
    bottom:15px;
    height: 50vh;
    width: 70vw;
    justify-content: space-evenly;
    align-items: center;
  }

  .theme-list{
    flex-direction:row;
    max-height:none;
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
    min-height: 15%;
    padding-bottom: 10px;
  }

  .theme-color{
    min-width:44px;
    height:44px;
  }

  .theme-preview img{
    width:85%;
    max-width:420px;
  }
}